.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/application-production.yml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.*~
*~