<div id="group">
  <div *ngIf="group">
    <h3>{{group.name}}</h3>
    <div>Share this link to anyone you wish to join:</div>
    <div class="copylink">{{link}}</div>
    <p>


    <div id="nameBox" class="info-block">
      <form #nameForm="ngForm" (ngSubmit)="nameForm.form.valid && onSubmit()">
        <div class="input-group">
          <label class="col-sm-4 col-form-label" for="nameBox">Your name in this group </label>
          <input type="text" class="form-control" placeholder="Your name in this group" aria-label="Display name"
                 name="displayName" #name="ngModel" [(ngModel)]="userDisplayName" required
                 aria-describedby="basic-addon2">
          <div *ngIf="nameForm.submitted && !name.valid" class="invalid-feedback">Name is required</div>
          <div class="input-group-append">
            <input type="submit" class="btn btn-outline-secondary" value="Change">
          </div>
        </div>
      </form>
      <a class="nav-link" *ngIf="group" [routerLink]=" ['/betting'] ">Your betting page</a>

    </div>

    <div id="groupInfo">
      <h2>Standings</h2>
      <table class="table table-striped border-0">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of group.standings; index as i">
          <td>{{i+1}}.</td>
          <td><a [routerLink]=" ['/betting', user.user] ">{{user.displayName}}</a></td>
          <td>{{user.points}}</td>
        </tbody>
      </table>
    </div>
    <form #groupEditForm="ngForm" (ngSubmit)="groupEditForm.form.valid && updateGroup()">
      <div id="scoring" class="info-block">
        <h3>Scoring</h3>
        <div class="row">
          <div class="col col-10">
            Points per correct amount of goals:
          </div>
          <div *ngIf="isAdmin()" class="col">
            <input title="Team goal points" class="col points" name="tealGoalPoints" [(ngModel)]="group.teamGoalPoints">
          </div>
          <div class="col" *ngIf="!isAdmin()">{{group.teamGoalPoints}}</div>
        </div>
        <div class="row">
          <div class="col col-10">
            Points if the score is exactly right:
          </div>
          <div *ngIf="isAdmin()" class="col">
            <input title="Exact score points" class="col points" name="exactScorePoints"
                   [(ngModel)]="group.exactScorePoints">
          </div>
          <div class="col" *ngIf="!isAdmin()">
            {{group.exactScorePoints}}
          </div>
        </div>
        <div class="row">
          <div class="col col-10">
            Points for guessing World Cup champion:
          </div>
          <div *ngIf="isAdmin()" class="col">
            <input title="Overall Winner points" class="col points" name="winnnerPoints"
                   [(ngModel)]="group.winnerPoints">
          </div>
          <div class="col" *ngIf="!isAdmin()">
            {{group.winnerPoints}}
          </div>
        </div>
        <div class="row">
          <div class="col col-10">
            Points for guessing the goal king:
          </div>
          <div *ngIf="isAdmin()" class="col">
            <input title="Goal king points" class="col points" name="goalKingPoints" [(ngModel)]="group.goalKingPoints">
          </div>
          <div class="col" *ngIf="!isAdmin()">
            {{group.goalKingPoints}}
          </div>
        </div>
        <div class="row">
          <div class="col col-10">
            Points for guessing the winning team (or tie):
          </div>
          <div *ngIf="isAdmin()" class="col">
            <input title="Winning team points per match" class="col points" name="correctWinnerPoints"
                   [(ngModel)]="group.correctWinnerPoints">
          </div>
          <div class="col" *ngIf="!isAdmin()">
            {{group.correctWinnerPoints}}
          </div>
        </div>
        <div *ngIf="isAdmin()" class="row">
          <div class="col col-10">
          </div>
          <div class="col">
            <input type="submit" class="btn btn-outline-secondary" value="Change">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="sampleScoring"  *ngIf="group">
    <h3>Sample scoring</h3>
    <table class="table" >
      <thead class="table-light">
      <tr>
        <th>Match result</th>
        <th>Guess</th>
        <th>Points</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">2 - 1</td>
        <td>1 - 3</td>
        <td>0</td>
        <td>Nothing correct</td>

      </tr>
      <tr class="partial">
        <td scope="row">2 - 1</td>
        <td><strong>2</strong> - 3</td>
        <td>{{group.teamGoalPoints}}</td>
        <td>Home team goal amount correct</td>
      </tr>
      <tr class="partial">
        <td scope="row">2 - 1</td>
        <td>3 - 0</td>
        <td>{{group.correctWinnerPoints}}</td>
        <td>Winner is correct</td>
      </tr>
      <tr class="winnerPartial">
        <td scope="row">2 - 1</td>
        <td><strong>2</strong> - 0</td>
        <td>{{group.teamGoalPoints + group.correctWinnerPoints}}</td>
        <td>Home team goal amount correct and winner correct</td>
      </tr>
      <tr class="exact">
        <td scope="row">2 - 1</td>
        <td><strong>2 - 1</strong></td>
        <td>{{group.exactScorePoints}}</td>
        <td>Score is exactly correct</td>
      </tr>

      <tr class="exact">
        <td scope="row">Germany</td>
        <td><strong>Germany</strong></td>
        <td>{{group.winnerPoints}}</td>
        <td>Champion</td>
      </tr>
      <tr class="exact">
        <td scope="row">Miroslav Klose</td>
        <td><strong>Miroslav Klose</strong></td>
        <td>{{group.goalKingPoints}}</td>
        <td>Correct goal king</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="font-weight-bold">
        <td colspan="2" scope="row">Total</td>
        <td>{{group.exactScorePoints + group.teamGoalPoints+group.correctWinnerPoints + group.teamGoalPoints +
          group.correctWinnerPoints + group.winnerPoints + group.goalKingPoints}}
        </td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>

