@import "~flag-icon-css/css/flag-icon.css";

.vs {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.matchNumber {
  display: inline;
  padding: 10px;
  width: 20px;
}
.matchDescription{
  display: inline;
  padding: 10px;
  width: 40px;
  min-width: 40px;
}

.score {
  width: 25px;
  min-width: 30px;
  text-align: center;
}
.team {
  padding: 10px;
  width: 100px;
}
.homeTeam {
  display: inline-block;
  margin-right: 4px;
}

.awayTeam {
  display: inline-block;
  margin-left: 4px;
}

.gameDate {
  white-space: nowrap;
}

.correct {
  color: red;
}

.exact {
  background-color: gold;
}

.partial {
  background-color: bisque;
}

.winnerPartial {
  background-color: khaki;
}
