<form #bettingForm="ngForm">
  <button class="btn btn-primary" (click)="guess()">I know nothing, guess for me</button>
  <div id="winners" class="info-block">
    <select name="Winner" class="form-control" (change)="winnerSelect($event.target.value)">
      <option *ngFor="let team of teams.values()" [value]="team.id"
                        [attr.selected]="team.id == bets.winner ? true: null">{{team.name}}
    </option>
    </select>
    <label for="goalKing" class="form-control-label">Winner</label>
    <input name="Goal King" id="goalKing" class="form-control" type="text" [(ngModel)]="bets.goalKing"
           (ngModelChange)="onChange($event)">
  </div>
  <div id="matchBets" *ngIf="game.matches.length == bets.scores.length">
    <table class="table table-striped match">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group/Stage</th>
        <th scope="col">Home</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th colspan="3" scope="colgroup">Result</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Away</th>
        <th scope="col">Date</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let match of game.matches; let i = index" [class]="style(match)">
        <td>{{match.id}}</td>
        <td>{{match.description}}</td>

        <td>{{teams[match.home]}}</td>
        <td><span class="right flag-icon flag-icon-{{teams[match.home].iso}}"></span></td>

        <td><input [class]="getScore(match.id).home == match.homeGoals ? 'score correct' : 'score'"
                   [disabled]="!canBet(match)" title="Home team goals" type=text class="score"
                   [(ngModel)]="getScore(match.id).home"
                   (ngModelChange)="onChange($event)" name="{{match.id}}.homeGoals"></td>
        <td>{{match.homeGoals}}</td>
        <td>-</td>
        <td>{{match.awayGoals}}</td>

        <td><input [disabled]="!canBet(match)" title="Away team goals" type=text
                   [class]="getScore(match.id).away == match.awayGoals ? 'score correct' : 'score'"
                   [(ngModel)]="getScore(match.id).away"
                   (ngModelChange)="onChange($event)" name="{{match.id}}.awayGoals">
        </td>
        <td><span class="flag-icon flag-icon-{{teams[match.away].iso}}"></span></td>

        <td>{{teams[match.away].name}}</td>
        <td class="gameDate">{{match.date | date:'yyyy-MM-dd HH:mm'}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</form>
