@import "~flag-icon-css/css/flag-icon.css";

.match {
  display: inline-block;
  margin: 1px;
  background-color: aliceblue;
  padding: 5px;
}
.vs {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.matchNumber {
  display: inline;
  padding: 10px;
  width: 20px;
}

.score {
  width: 25px;
  min-width: 25px;
}
.team {
  padding: 10px;
  width: 100px;

}
.homeTeam {
  display: inline-block;
  margin-right: 4px;
}

.awayTeam {
  display: inline-block;
  margin-left: 4px;
}

.gameDate {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
