<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Nanananana Betman!</h2>


<div *ngFor="let game of games">
  <div class="match">
    <div class="matchNumber">{{game.id}}</div>
    <div class="team homeTeam">{{game.home.name}}</div>

    <input type=number id="homeScore" class="score"><div class="vs">-</div>
    <input type=number id="awayScore" class="score">
    <div class="team awayTeam">{{game.away.name}}</div>
  </div>
</div>


