<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Nanananana Betman!</h2>

<form #bettingForm="ngForm">
<div *ngFor="let game of games">
  <div class="match">
    <div class="matchNumber">{{game.id}}</div>
    <div class="team homeTeam">{{game.home.name}}</div>

    <input title="Home team goals" type=text class="score" [(ngModel)]="bets[game.id].home" (ngModelChange)="onChange($event)"  name="{{game.id}}.homeGoals" ><div class="vs">-</div>
    <input title="Away team goals" type=text class="score" [(ngModel)]="bets[game.id].away" (ngModelChange)="onChange($event)"  name="{{game.id}}.awayGoals">
    <div class="team awayTeam">{{game.away.name}}</div>
  </div>
</div>
</form>

