<nav *ngIf="isLoggedIn | async as loggedIn"  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" routerLinkActive="active">

    <div class="navbar-nav">

      <a class="nav-item nav-link" [routerLink]=" ['./'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Home</a>
      <a class="nav-item nav-link" *ngIf="group" routerLink="group">{{active | async}}</a>
      <a class="nav-item nav-link" *ngIf="group" routerLink="betting">Betting</a>
      <a class="nav-item nav-link" *ngIf="user" (click)="logout()">Logout {{user}}</a>

    </div>
  </div>
</nav>

<!-- main app container -->
<div class="root">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <app-alert-message></app-alert-message>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
