<div id="homePage">
  <div class="form-group">
    <h2>What's Betman?</h2>
    <p>
      Betman is a betting game on scores for tournaments such as the World Cup. Each player guesses the score of each
      match and the guesses
      can be scored such for example:
    <ul>
      <li>1 point for correct amount of goals per team</li>
      <li>1 point if winner is correct</li>
      <li>3 points if score is exactly right</li>
    </ul>
  </div>

  <div id="groups" class="form-group">
    <h3>Groups</h3>

    <div *ngIf="groups.length > 0" id="oldGroups">
      <p>
        Your groups:
      </p>
      <form>
        <select class="form-control" (change)="groupSelect($event.target.value)">
          <option *ngFor="let group of groups" [value]="group.key"
                  [attr.selected]="group.key == active ? true: null">{{group.name}}
          </option>
        </select>
      </form>
    </div>
    <div id="createGroup" class="form-group">

        <a [routerLink]="['/new-group']">Create new group</a>

    </div>
  </div>

</div>
